/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(248, 242, 242);
  }
  
  body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }
  
  /* Login Dialog Box Styles */
  .login-dialog {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    background-color: #8e60e2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  #login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  #login-form input[type="text"],
  #login-form input[type="password"] {
    color: #01080E;
    width: 200px;
    padding: 10px;
    border: 1px solid #030303;
    border-radius: 5px;
  }
  
  #login-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #522828;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Container Styles */
  .container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
  }
  
  /* Content and Information Section Styles */
  .container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  
  .container__informacoes {
    flex: 1;
    padding: 3rem;
  }
  
  .container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
  }
  
  .container__texto {
    margin: 16px 0 16px 0;
  }
  
  .container__texto-azul {
    color: #1875E8;
  }
  
  .container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: '
  